.ust-font{
font-family:DigifaceWide;
}
.ust-font2{
font-family:Book Antiqua;

}

.double_line{
width:100%;
height:1px;
background-color:deeppink;
padding: 0px 0px 0px 0px;
margin:0px 0px 2px 0px;	

}
.color_red{
color:#ff0000;
}

.margin-top5{margin-top:5px;}
.margin-top10{margin-top:10px;}
.margin-top15{margin-top:15px;}
.margin-top20{margin-top:20px;}
.margin-top25{margin-top:25px;}
.margin-top30{margin-top:30px;}
.margin-top35{margin-top:35px;}

.margin-right5{margin-right:5px;}
.margin-right10{margin-right:10px;}
.margin-right15{margin-right:15px;}
.margin-right20{margin-right:20px;}
.margin-right25{margin-right:25px;}
.margin-right30{margin-right:30px;}
.margin-right35{margin-right:35px;}


.margin-left5{margin-left:5px;}
.margin-left10{margin-left:10px;}
.margin-left15{margin-left:15px;}
.margin-left20{margin-left:20px;}
.margin-left25{margin-left:25px;}
.margin-left30{margin-left:30px;}
.margin-left35{margin-left:35px;}

.margin-bottom5{margin-bottom:5px;}
.margin-bottom10{margin-bottom:10px;}
.margin-bottom15{margin-bottom:15px;}
.margin-bottom20{margin-bottom:20px;}
.margin-bottom25{margin-bottom:25px;}
.margin-bottom30{margin-bottom:30px;}
.margin-bottom35{margin-bottom:35px;}

.text-color-white{
	color: #FFFFFF;
}
.btn-responsive{
	 white-space: normal !important;
    word-wrap: break-word;
}